/*
 * Copyright (c) 2025 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include "souffle_v3_sweep.dtsi"
#include <dt-bindings/led/led.h>

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 17)>,
                    <NRF_PSEL(SPIM_SCK, 0, 20)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 17)>,
                    <NRF_PSEL(SPIM_SCK, 0, 20)>;
            low-power-enable;
        };
    };
};

&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";

    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";

    cs-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>; // P1.01 for CS

    nice_view_spi: ls011b7dh01@0 {
        compatible = "sharp,ls011b7dh01";
        reg = <0>;
        spi-max-frequency = <1000000>;
        width = <160>;
        height = <68>;
    };
};

/ {
    chosen {
        zephyr,display = &nice_view_spi;
    };
};

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&gpio0 9  GPIO_ACTIVE_HIGH> // P0.09 - col5 (reversed for right side)
        , <&gpio0 10 GPIO_ACTIVE_HIGH> // P0.10 - col4
        , <&gpio1 11 GPIO_ACTIVE_HIGH> // P1.11 - col3
        , <&gpio1 13 GPIO_ACTIVE_HIGH> // P1.13 - col2
        , <&gpio1 15 GPIO_ACTIVE_HIGH> // P1.15 - col1
        , <&gpio0 2  GPIO_ACTIVE_HIGH> // P0.02 - col0
        ;
};

&right_encoder {
    status = "okay";
};