/*
 * Copyright (c) 2025 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include "souffle_v3_sweep.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&gpio0 9  GPIO_ACTIVE_HIGH> // P0.09 - col5 (reversed for right side)
        , <&gpio0 10 GPIO_ACTIVE_HIGH> // P0.10 - col4
        , <&gpio0 11 GPIO_ACTIVE_HIGH> // P0.11 - col3
        , <&gpio0 13 GPIO_ACTIVE_HIGH> // P0.13 - col2
        , <&gpio0 15 GPIO_ACTIVE_HIGH> // P0.15 - col1
        , <&gpio0 2  GPIO_ACTIVE_HIGH> // P0.02 - col0
        ;
};

&right_encoder {
    status = "okay";
};